@import "tailwindcss";

@theme {
  --color-primary: #020710;
}

:root {
  --color-back: 14,17,23;
  --color-border-start: #282F3D;
  --border-size: 0.05rem;
  --color-border-end: #1C2128;
}

body {
  background: rgb(var(--color-back));
  font-family: Arial, Helvetica, sans-serif;
}

#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vmin;

  background-image: linear-gradient(var(--color-border-start), var(--border-size), transparent var(--border-size)), linear-gradient(90deg, var(--color-border-start) var(--border-size), transparent var(--border-size));
  background-size: 3em 3em;

  pointer-events: none;
}

#bg:before {
  content: "";

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  pointer-events: none;

  background: linear-gradient(
    to right,
    rgba(var(--color-back),0.95) 15%,
    transparent 70%,
    rgba(var(--color-back),0.95) 90%
  );
}

#preview-video {
  box-shadow: 
    0 .02em 30em rgba(68, 123, 223, 0.1), 
    0 .02em 1em rgba(68, 123, 223, 0.08)
  ;
}
